@model Xyperico.Authentication.Web.Areas.Account.Models.LoginModel
@using Xyperico.Web.Mvc.Html

<section id="login-form">
@using (Html.BeginForm(new { returnUrl = ViewBag.ReturnUrl }))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)

  <fieldset>
    <ol class="form inputs">
      <li>
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
      </li>
      <li>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
      </li>
      <li>
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
        | @Html.ActionLink(_.Account.Forgot_password, "forgot_password") 
      </li>
    </ol>
    <ol class="form buttons">
      <li><input type="submit" value="@_.Account.Log_in" /></li>
    </ol>
  </fieldset>
  <p>
    @Html.ActionLink(_.Account.Register, "register", "registration") @_.Account.IfNoAccountYet.
  </p>
}
</section>
@Html.AutoFocusFor(m => m.UserName)
